<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <header>
        <h2>DASHBOARD</h2>
    </header>
    <section>
        <nav class="nav">
            <div>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Rasberry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="jetson">Jetson Nano</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="arduino">Arduino</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Esp8266</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Data</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Info</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Editor</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Mensajes</a>
                </li>
            </div>
        </nav>
        <div class="tarea">
            <div class="text-center">
                <p>CODE-TAREA</p>
                <span class="btn btn-success fileinput-button">
                    <span> Subir </span>
                    <input type="file">
                </span>
            </div>
            <div class="card-body">
                <p class="card-text">Para subir tu codigo .py deberas considerar los siguientes puntos.</p>
            </div>
            <div class="row">
                <div class="col-4 d-flex">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Webcam</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Velocidad</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Opencv</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">info</a>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        	Lorem ipsum
                        	dolor sit 
                        	consectetur 
                        	adipiscing.

                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mesa text-center">
            <div class="data text-center">
                <h3>TABLERO IOT 4.0 - RASPBERRY PI</h3>
                <img src="static/img/cam.png" width="400" height="300" class=" rounded">

            </div>

            <button type="button" class="btn btn-success btn-lg">Guardar</button>
            
       </div>
        <section></section>
        <footer>
            <p>Copyright © 2024. All rights reserved. SIRIUS THINGS.</p>
        </footer>
</body>

</html>